<style>
html,body{ background-color: #000000;  height: 100%;  width: 100%;  position: absolute; position:  }
.login-box{ width: 360px; height: 200px; margin: -100px 0 0 -210px; position: absolute; top: 40%; left:50%; border:1px solid #000; padding: 30px; background-color: rgba(255, 255, 255, 0.21); border-radius: 3px;}
.login-box .title{  text-align: center;  font-size: 20px;  margin-bottom: 20px; }
.login-box .layui-form-label{ width: 50px; padding: 10px 2px; text-align: left; left:40px; position: absolute; z-index: 10;  color: #7d7d7d;}
.login-box .layui-input-block{ margin-left: 0;  }
.login-box .layui-input{ padding-left: 55px; color: #7d7d7d; }
.login-box .login{    background-color: #388235;
    border: navajowhite;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    line-height: 25px;
    border-radius: 3px;}
</style>
<div class='background'>
	<div class='login-box'>
		<div class='title'>API接口管理系统</div>
		<form class="layui-form layui-form-pane1" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">账号：</label>
				<div class="layui-input-block">
				  	<input type="text" name="account"  required placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>	
			<div class="layui-form-item">
				<label class="layui-form-label">密码：</label>
				<div class="layui-input-block">
				  	<input type="password" name="password"  required placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>	
			<button class='login' lay-submit lay-filter="*">登录</button>
		</form>
	</div>
</div>
<!-- H5动画特效 -->
<!-- <script src='http://www.goodboydigital.com/pixijs/examples/25/pixi.js'></script>
{load href="/static/home/login/background.js" /}  -->
<script>
function login(){
	var account = $('input[name="account"]').val();
	var password = $('input[name="password"]').val();
	data['account'] = account;
	data['password'] = password;
	console.log(data);
}

layui.use('form', function(){	
	var form = layui.form();

	//自定义验证规则
	form.verify({
		title: function(value){
		  	if(value.length < 5){
		    	return '标题也太短了吧';
		  	}
		}
		,pass: [/(.+){6,12}$/, '密码必须6到12位']
	});


	//事件监听
	form.on('select', function(data){
		console.log(data);
	});

	form.on('select(aihao)', function(data){
		console.log(data);
	});

	form.on('checkbox', function(data){
		console.log(data.elem.checked);
	});

	form.on('switch', function(data){
		console.log(data);
	});

	form.on('radio', function(data){
		console.log(data);
	});

	//监听提交
	form.on('submit(*)', function(data){
		var field = data.field;
		var url = "{:url('',input('param.'))}";

		console.log(url);
		console.log(field);	
		
		post(field,url,function(ret){
			var msg = ret.msg;
			if(ret.success == true){
				window.location.href = "{:url('index/main')}";
				console.log('登录成功');
			}else{
				//layer.msg(msg);
				layer.open({
					title:'提示',
					content: msg,
					yes: function(index, layero){
					//do something
						layer.close(index); //如果设定了yes回调，需进行手工关闭
					}
				});  

			}	
		});
		return false;
	});
  
});
</script>