<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            
            <a class="logo" href="{:url('')}">
                api管理系统
            </a> 
            <ul class="layui-nav" lay-filter="">                
                <!-- <li class="layui-nav-item"><img src="/static/X-admin/images/logo.png" class="layui-circle" style="border: 2px solid #A9B7B7;" width="35px" alt=""></li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;">{$user_info['account']}</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="">个人信息</a></dd>
                        <dd><a href="">切换帐号</a></dd>
                        <dd><a href="{:url('index/logout')}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                <a href="" title="消息">
                    <i class="layui-icon" style="top: 1px;">&#xe63a;</i>
                </a>
                </li>
                <li class="layui-nav-item"><a target='_blank' href="{:url('home/index/main')}">api测试</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe607;</i><cite>项目管理</cite>
                    </a>
                    <dl class="layui-nav-child">                    
                        <dd class="">
                            <dd class="">
                                <a href="javascript:;" _href="{:url('App/appList')}">
                                    <cite>app管理</cite>
                                </a>
                            </dd>
                        </dd>                   
                    </dl>                  
                    <dl class="layui-nav-child">                    
                        <dd class="">
                            <dd class="">
                                <a href="javascript:;" _href="{:url('Api/apiManage')}">
                                    <cite>api管理</cite>
                                </a>
                            </dd>
                        </dd>                   
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe607;</i><cite>用户管理</cite>
                    </a>
                    <dl class="layui-nav-child">                    
                        <dd class="">
                            <dd class="">
                                <a href="javascript:;" _href="{:url('User/userList')}">
                                    <cite>用户列表</cite>
                                </a>
                            </dd>
                        </dd>                   
                    </dl>     
                </li>
                <!-- <li class="layui-nav-item" style="height: 30px; text-align: center">
                </li> -->
            </ul>
        </div>
    </div>
    <div class="layui-tab layui-tab-card site-demo-title" lay-filter="x-tab" lay-allowclose="true">
        <ul class="layui-tab-title">
            <li class="layui-this">
                我的桌面
            </li>
        </ul>
        <div class="layui-tab-content site-demo site-demo-body">
            <div class="layui-tab-item layui-show">
                <iframe frameborder="0" src="{:url('welcome')}" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">
            &#xe602;
        </i>
    </div>
    <div class="site-mobile-shade">
    </div>
</div>

<script>
layui.use('form', function(){
    console.log('asd');
});
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

