<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">

        <ul class="layui-nav">
            <li class="layui-nav-item"><a href="">最新活动</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">{$user_info['account']}</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="">切换帐号</a></dd>
                    <dd><a href="{:url('index/logout')}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd class="layui-this"><a href="">选中项</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>
</div>