<style type="text/css">
.layui-header.header{ background-color: #393d49; border-bottom: 1px solid #009e94;}
.header .layui-nav{ float: right; }
.header .logo{ position: absolute; left: 0; color: #c2c2c2; height: 60px; line-height: 60px; padding: 0 20px; font-size: 20px; }
.header .logo:hover{ color: #efefef; }

.layui-layout-admin .layui-body{ bottom: 0; }
.layui-body .frame{ position: absolute;  left: 0;  right: 0;  top: 41px;  bottom: 0; }
.layui-body .layui-tab{ margin: 0; position: absolute;  left: 0;  right: 0;  top: 0px;  bottom: 0;}
.layui-body .layui-tab .site-demo{ position: absolute;  left: 0;  right: 0;  top: 41px;  bottom: 0; }
.layui-body .layui-tab .layui-tab-content{ padding: 0; }
.layui-body .layui-tab .layui-tab-content .layui-tab-item{ height: 100%; }
.layui-body .layui-tab .layui-tab-content .layui-tab-item iframe{ width: 100%; height: 100%; }

</style>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <a class="logo lui-btn" href="{:url('')}">
            api管理系统
        </a> 
        <ul class="layui-nav" lay-filter="header-nav">   
            <li class="layui-nav-item">
                <a href="javascript:;">{$user_info['account']}</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="">切换帐号</a></dd>
                    <dd><a href="{:url('index/logout')}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
            <!-- <a href="" title="消息">
                <i class="layui-icon" style="top: 1px; ">&#xe63a;</i>
            </a> -->
            </li>
            <li class="layui-nav-item" lay-id="help"><a target='_blank'>help</a></li>
            <li class="layui-nav-item"><a target='_blank' href="{:url('home/index/api')}">首页</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;">
                        <!-- <i class="layui-icon" style="top: 3px;">&#xe631;</i> -->
                        <cite>项目管理</cite>
                    </a>         
                    <dl class="layui-nav-child"> 
                        <dd  class="layui-this">
                            <a href="javascript:;" _href="{:url('Api/apiManage')}">
                                <cite>api管理</cite>
                            </a>
                        </dd>                                     
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <!-- <i class="layui-icon" style="top: 3px;">&#xe613;</i> -->
                        <cite>用户管理</cite>
                    </a>
                    <dl class="layui-nav-child">                    
                        <dd class="">
                            <dd class="">
                                <a href="javascript:;" _href="{:url('User/userList')}">
                                    <cite>用户列表</cite>
                                </a>
                            </dd>
                        </dd>                   
                    </dl>     
                </li>
                <!-- <li class="layui-nav-item" style="height: 30px; text-align: center">
                </li> -->
            </ul>
        </div>
    </div>
    <div class="layui-body site-demo">
        <div class="layui-tab layui-tab-card site-demo-title" lay-filter="frame-tab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="api管理" id="api管理">
                    api管理
                </li>
            </ul>
            <div class="layui-tab-content site-demo site-demo-body">
                <div class="layui-tab-item layui-show">
                    <iframe frameborder="0" src="{:url('api/apiManage')}" class="x-iframe"></iframe>
                </div>
            </div>   
        </div>
    </div>
    
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">
            &#xe602;
        </i>
    </div>
    <div class="site-mobile-shade">
    </div>
</div>

<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use(['form','element'], function(){
    var element = layui.element();
  
    //…
    //监听导航点击
    element.on('nav(side)', function(elem){
        title = elem.find('cite').text();
        url = elem.find('a').attr('_href');
        id = elem.find('cite').text();
        
        //console.log($('.layui-tab-title li#'+id).length == 0);

        if($('.layui-tab-title li#'+id).length){    //如果不存在该选项卡 则创建 否则切换            
            var index = $(".layui-tab-title li").index($('.layui-tab-title li#'+id));
            element.tabDelete('frame-tab', id);  
        }

        res = element.tabAdd('frame-tab', {
            title: title
            ,content: '<iframe frameborder="0" src="'+url+'" class="x-iframe"></iframe>',
            id:id
        });

        element.tabChange('frame-tab', $('.layui-tab-title li').length-1);

        var length = $('.layui-tab-title li').length;
        $('.layui-tab-title li').eq(length - 1).attr('id',id);  
        
        element.tabChange('frame-tab', id);     
    });

    element.on('nav(header-nav)', function(elem){
        var layid = this.getAttribute('lay-id');
        if(layid == 'help'){
            $(elem).removeClass('layui-this');
            help();
        }
        console.log(elem); //得到当前点击的DOM对象
    });
});

 /*添加*/
function help(){
    layer.open({
        type: 2,
        area: ['1200px', '800px'],
        fix: false, //不固定
        maxmin: true,
        shadeClose: true,
        shade:0.4,
        title: '使用帮助',
        content: "{:url('help')}",
        end: null
    });    
}
</script>