<style type="text/css">
/*登录页面*/
page#login{ background-color: rgba(0, 0, 0, 0); -webkit-transition-duration: .3s;   transition-duration: .3s;}
page#login.background{ background-color: rgba(31, 31, 31, 0.7); }

page#login .content-block{ position: absolute; width: 400px; height: 400px; top: 40%; left: 50%; margin-top: -200px; margin-left: -200px; border: 1px #000; -webkit-transition-duration: .3s;   transition-duration: .3s;}
page#login.show .content-block { top: 50%; left: 50%; }
page#login .content-block .title{ position: absolute; width: 100%; top: -30px; text-align: center; color: #fff; line-height: 34px; border-radius: 30px; font-size: 20px; }
page#login .content-block .close{ position: absolute; top: -30px; right: 0; color: #cccccc; font-size: 30px;}
page#login .content-block .close:hover{ color: #687888;}
page#login .content-block .close:active{ color: #5b6977;}
page#login .content-block .item { position: relative; height: 34px; width: 100%; margin: 10px 0;}

page#login .content-block .item > input{ outline: none; border: 1px solid #ccc; width: 100%; height: 34px; border-radius: 50px; background-color: rgba(255, 255, 255, 0);  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; color: #fff; padding-left: 50px; position: absolute;}
page#login .content-block .item > input:-webkit-autofill {	-webkit-transition-duration: .0s;   transition-duration: .0s;
    -webkit-box-shadow: 0 0 0px 1000px #383d42 inset;   -webkit-text-fill-color: #fff; }

page#login .content-block .item.code{ display: none; }
page#login.show_code .content-block .item.code{ display: block; }
page#login.show_code .content-block .item.code > input[name="code"]{ padding-left: 68px; width: 280px; display: block; }

page#login .content-block .item > span{ color: #fff; z-index: 1; -webkit-user-select:none;  -moz-user-select:none;  -ms-user-select:none;  user-select:none; top: 7px;  left: 12px;  position: absolute;}
page#login .content-block .item > span.code{ position: absolute; left: 10px; display: block; }

page#login .content-block .get_code{ position: absolute; left: 300px; border-radius: 30px; border:1px solid #ccc; -moz-box-sizing: border-box;  box-sizing: border-box; height: 34px; line-height: 33px; color: #fff; width: 100px; text-align: center;}
page#login.show_code .content-block .get_code:hover{ background-color: #687888; }
page#login.show_code .content-block .get_code:active{ background-color: #5b6977; }

page#login .content-block .login-button{ position: absolute; width: 100%; text-align: center; color: #fff; border: 1px solid #ccc; line-height: 34px; border-radius: 30px; }
page#login .content-block .login-button.active{ background-color: darkslateblue; border: 1px solid darkslateblue; }
page#login .content-block .login-button:hover{ background-color: #687888; }
page#login .content-block .login-button:active{ background-color: #5b6977; }

</style>
<page class="" id="login">
	<div class="content-block">	
		<div class="title">用户登录</div>
		<i class="layui-icon close lui-btn close_page" onclick="close_login_page()" >&#x1006;</i> 

		<div class="item">
			<span class="email">邮箱：</span>	
			<input class="imput" type="text" name="email" value="" autocomplete="off">			
		</div>
		<div class="item">
			<span class="pwd">密码：</span>
 			<input class="imput" type="password" name="password" autocomplete="off">
		</div>
		<div class="item code">
			<span class="code">验证码：</span>
			<input class="imput" type="text" name="code" autocomplete="off">		
			<div class="get_code lui-btn" onclick="get_code(this,'login')">获取验证码</div>
		</div>
		<div class="item">
			<div class="login-button lui-btn" onclick="login_submit(this)">登录</div>		
		</div>
	</div>
</page>

<script>
// 登录--------------------------------------------------------
function close_login_page(){
	if(is_ie()){
		show_main();
	}else{
		history.back(-1);
	}
}
function login_submit(obj){
	if($(obj).attr('active') == 'false'){
		return;
	}
	var email = $('#login input[name="email"]').val();
	var password = $('#login input[name="password"]').val();
	var code = $('#login input[name="code"]').val();

	//验证邮箱格式
	// var myreg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;	
	// if(!myreg.test(email)){
	// 	layer.msg('请输入正确邮箱地址');		
	// 	return;
	// }

	if(password.length < 6 || password.length > 32){
		$lui.log(password.length);
		layer.msg('请输入6~32位长度密码');		
		return;
	}

	if($('page#login').hasClass('show_code') && code.length != 6){
		layer.msg('请输入6位验证码');	
		return;
	}
	
	var url = "{:url('Login/emailLogin')}";
	var data = {};
	data['email'] = email;
	data['password'] = (password);;
	data['code'] = code;
	
	$.ajax({
	    type:"post",
	    url:url,
	    data:data,
	    dataType:'json',
	    success: function (ret) {
	    	if(ret.success == true){
	    		layer.msg(ret.msg,{	    			
	    			time: 1000
	    		},function(){
	    			var url = "{:url('User/main')}";
	    			
	    			window.location = url;
	    		});  
	    	}else{
	    		$('page#login').addClass('show_code');
	    		layer.msg(ret.msg);  
	    	}	           
	    },
	    error: function (error) { 
	        layer.msg('网络错误');  
	    },
	    beforeSend: function(){	 
	    	$(obj).attr('active','false');
	    	$lui.btn_loading(obj);
	    },
	    complete: function(){	
	    	$(obj).attr('active','true');
	    	$lui.btn_loaded(obj);
	    }
	})
}
</script>