
<div class="layui-tab-content">
    <xblock>
        <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button> -->
        <button class="layui-btn" onclick="banner_add('添加项目','{:url('addApp')}','800','600')">添加</button>
        <span class="x-right" style="line-height:40px">共有项目：{$list_data -> total()} </span>
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th><input type="checkbox" name="" value=""></th>
                <th>ID</th>
                <!-- <th>logo</th> -->
                <th>名称</th>
                <th>描述</th>
                <th>接口域名</th>
                <th>本地域名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="list_data" id="vo"}
            <tr>
                <td><input type="checkbox" value="1" name=""></td>
                <td>{$vo['id']}</td>
                <!-- <td><img src="./images/banner.png" width="200" alt=""></td> -->
                <td >{$vo.name}</td>
                <td >{$vo.describe}</td>
                <td >{$vo.domain}</td>
                <td>{$vo.test_domain}</td>
                <td class="td-manage">                    
                    <a title="编辑" href="javascript:;" onclick="$intop.open('{:url('editApp',array(\'app_id\' => $vo.id))}','编辑')"
                    class="ml-5" style="text-decoration:none">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="banner_del(this,{$vo.id})" 
                    style="text-decoration:none">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
    {$list_data -> render()}
    <div id="page"></div>
</div>
<script>
layui.use(['laydate','element','laypage','layer'], function(){
    $ = layui.jquery;//jquery
    laydate = layui.laydate;//日期插件
    lement = layui.element;//面包导航
    laypage = layui.laypage;//分页
    layer = layui.layer;//弹出层

    //以上模块根据需要引入
  
});

//更新api_manage数据
// function update_api_manage(){
//     parent.update_api_manage();     //更新api_manage页面
//     parent.closeTab('app_manage');  //关闭app_manage tab
// }

//批量删除提交
 function delAll () {
    layer.confirm('确认要删除吗？',function(index){
        //捉到所有被选中的，发异步进行删除
        layer.msg('删除成功', {icon: 1});
    });
 }
 /*添加*/
function banner_add(title,url,w,h){
    layer.open({
        type: 2,
        area: [w+'px', h +'px'],
        fix: false, //不固定
        maxmin: true,
        shadeClose: true,
        shade:0.4,
        title: title,
        content: url,
        end: null
    });    
}
 /*停用*/
function banner_stop(obj,id){
    layer.confirm('确认不显示吗？',function(index){
        //发异步把用户状态进行更改
        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_start(this,id)" href="javascript:;" title="显示"><i class="layui-icon">&#xe62f;</i></a>');
        $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">不显示</span>');
        $(obj).remove();
        layer.msg('不显示!',{icon: 5,time:1000});
    });
}

/*启用*/
function banner_start(obj,id){
    layer.confirm('确认要显示吗？',function(index){
        //发异步把用户状态进行更改
        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_stop(this,id)" href="javascript:;" title="不显示"><i class="layui-icon">&#xe601;</i></a>');
        $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已显示</span>');
        $(obj).remove();
        layer.msg('已显示!',{icon: 6,time:1000});
    });
}
// 编辑
function banner_edit (title,url,id,w,h) {
    x_admin_show(title,url,w,h); 
}
/*删除*/
function banner_del(obj,id){
    layer.confirm('确认要删除吗？',function(index){
        var url = "{:url('delApp')}";
        var data = {};
        data['app_id'] = id;
        post(data,url,function(ret){    //发异步删除数据
            var msg = ret.msg;
            if(ret.success == true){
                $(obj).parents("tr").remove();
                parent.update_api_manage(false);     //更新api_manage页面
            }                
            layer.msg(msg,{icon:1,time:1000});
        });
        
    });
}
</script>

