
<div class="layui-tab-content">
    <xblock>
        <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button> -->
        <button class="layui-btn" @click="add()">添加</button>
        <span class="x-right" style="line-height:40px" v-cloak>共有项目：{{app_list.length}} </span>
    </xblock>
    <table class="layui-table">
        <colgroup>
            <col width="40">
            <col width="60">
            <col >
            <col >
            <col width="140">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox" name="" value=""></th>
                <th>ID</th>
                <th>名称</th>
                <th>描述</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>            
            <tr v-for="(item,index) in app_list" v-cloak>
                <td><input type="checkbox" value="1" name=""></td>
                <td>{{item.id}}</td>
                <td >{{item.name}}</td>
                <td >{{item.describe}}</td>                
                <td class="td-manage">     
                    <div class="layui-btn-group">
                        <div class="layui-btn layui-btn-xs layui-btn-normal" @click="api('{:url('api/index')}'+'?app_id='+item.id)">API</div>
                        <div class="layui-btn layui-btn-xs" @click="edit('{:url('edit')}'+'?page='+{:input('page',0)}+'&app_id='+item.id)">编辑</div>
                        <div class="layui-btn layui-btn-xs layui-btn-danger" @click="del(item.id,index)">删除</div>
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
    {$list_data -> render()}
    <div id="page"></div>
</div>
<script>

var vue = new Vue({
    el:'.layui-tab-content',
    data:{
        app_list:JSON.parse('{:json_encode($list_data)}').data,       
    },
    methods:{
        add:function(){
            var url = '{:url('add')}'+'?page='+'{:input('page',0)}';
            $intop.open(url,'添加项目');
        },
        edit:function(url){            
            $intop.open(url,'编辑项目');
        },
        del:function(id,index){
            layer.confirm('确认要删除吗？',function(confirm_index){
                var url = "{:url('del')}";
                var data = {};
                data['app_id'] = id;
                $.ajax({
                    type:"post",
                    url:url,
                    data:data,
                    dataType:'json',
                    success: function (ret) {      
                        if (ret.success) {          
                            vue.app_list.splice(index,1);                
                        } 
                        layer.msg(ret.msg); 
                    },
                    error:function(ret){
                        layer.alert('网络错误',{title:''});             
                    },
                    beforeSend: function(xhr){               
                        layer.load();                                    
                    },
                    complete: function(){  
                        layer.closeAll('loading');   
                        layer.close(confirm_index);       
                    },                    
                })          
            });
        },
        api:function(url){
            parent.vue.iframe_url = url;
        }
    }
});

layui.use(['laydate','element','laypage','layer'], function(){
    $ = layui.jquery;//jquery
    laydate = layui.laydate;//日期插件
    lement = layui.element;//面包导航
    laypage = layui.laypage;//分页
    layer = layui.layer;//弹出层

    //以上模块根据需要引入
  
});

//更新api_manage数据
// function update_api_manage(){
//     parent.update_api_manage();     //更新api_manage页面
//     parent.closeTab('app_manage');  //关闭app_manage tab
// }

//批量删除提交
 function delAll () {
    layer.confirm('确认要删除吗？',function(index){
        //捉到所有被选中的，发异步进行删除
        layer.msg('删除成功', {icon: 1});
    });
 }
 /*添加*/
function banner_add(title,url,w,h){
    layer.open({
        type: 2,
        area: [w+'px', h +'px'],
        fix: false, //不固定
        maxmin: true,
        shadeClose: true,
        shade:0.4,
        title: title,
        content: url,
        end: null
    });    
}
 /*停用*/
function banner_stop(obj,id){
    layer.confirm('确认不显示吗？',function(index){
        //发异步把用户状态进行更改
        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_start(this,id)" href="javascript:;" title="显示"><i class="layui-icon">&#xe62f;</i></a>');
        $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">不显示</span>');
        $(obj).remove();
        layer.msg('不显示!',{icon: 5,time:1000});
    });
}

/*启用*/
function banner_start(obj,id){
    layer.confirm('确认要显示吗？',function(index){
        //发异步把用户状态进行更改
        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_stop(this,id)" href="javascript:;" title="不显示"><i class="layui-icon">&#xe601;</i></a>');
        $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已显示</span>');
        $(obj).remove();
        layer.msg('已显示!',{icon: 6,time:1000});
    });
}
// 编辑
function banner_edit (title,url,id,w,h) {
    x_admin_show(title,url,w,h); 
}

</script>

