<style>
.header .layui-nav.left{ float: left;     padding: 0;}
.header .layui-nav .layui-nav-item{ height: 60px; }

.layui-header.header{ background-color: #393d49; border-bottom: 1px solid #009e94;}
.header .layui-nav{ float: right; }
.header .logo{ position: absolute; left: 0; color: #c2c2c2; height: 60px; line-height: 60px; padding: 0 20px; font-size: 20px; }
.header .logo:hover{ color: #efefef; }

.layui-layout-admin .layui-body{ bottom: 0; }
.layui-body .frame{ position: absolute;  left: 0;  right: 0;  top: 41px;  bottom: 0; }
.layui-body .layui-tab{ margin: 0; position: absolute;  left: 0;  right: 0;  top: 0px;  bottom: 0;}
.layui-body .layui-tab .site-demo{ position: absolute;  left: 0;  right: 0;  top: 41px;  bottom: 0; }
.layui-body .layui-tab .layui-tab-content{ padding: 0; }
.layui-body .layui-tab .layui-tab-content .layui-tab-item{ height: 100%; }
.layui-body .layui-tab .layui-tab-content .layui-tab-item iframe{ width: 100%; height: 100%; display: block; }
</style>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <ul class="layui-nav left" lay-filter="">
                <li class="layui-nav-item">
                    {notempty name="app_info"}
                        <a href="javascript:;">{$app_info.name}</a>
                    {else /}
                        <a href="javascript:;">选择项目</a>
                    {/notempty}                    
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        {volist name="app_list" id="vo"}
                            <dd><a href="javascript:;" onclick='change_app({$vo.id})' >{$vo.name}</a></dd>                       
                        {/volist}
                    </dl>
                </li>
            </ul>
            <!-- <a class="logo" href="./index.html">
                X-admin v1.0
            </a> -->
            <ul class="layui-nav" lay-filter="">  
                <li class="layui-nav-item">
                    <a href="javascript:;">{$user_info['account']}</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{:url('user/logout')}">退出</a>
                </li>
                <li class="layui-nav-item"><a target='_blank' href="{:url('admin/index/main')}">接口管理</a></li>
            </ul>
        </div>
    </div>
   <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                {volist name="nav" id="menu" key="k1"}
                <li class="layui-nav-item" item-id="{$k1}">
                    <a class="" href="javascript:;"> {$menu.name}<span class="layui-nav-more"></span></a>
                    {if condition="@$menu['child']"}
                    <dl class="layui-nav-child">                       
                        {volist name="$menu['child']" id='item' key="k2"}
                        <dd item-id="{$k1}" child-id="{$k2}">
                            <a href="#{$k1}/{$k2}" _href="{:url('home/user/api',array('api_id' => $item['id']))}">{$item['name']}</a>
                        </dd>
                        {/volist}
                    </dl>
                    {/if}           
                </li>
                {/volist} 
            </ul>
        </div>
    </div>
     <div class="layui-body site-demo">
        <div class="layui-tab layui-tab-card site-demo-title" lay-filter="frame-tab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    我的桌面
                </li>
            </ul>
            <div class="layui-tab-content site-demo site-demo-body">
                <div class="layui-tab-item layui-show">
                    <iframe frameborder="0" src="{:url('welcome')}" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">
            &#xe602;
        </i>
    </div>
    <div class="site-mobile-shade">
    </div>
</div>

<script>
function change_app(app_id){
    console.log(app_id);
    var data = {};
    data['app_id'] = app_id;
    var url = "{:url('home/user/changeApp')}";
    post(data,url,function(ret){
        if(ret.success == true){
            location.reload();
        }
    });
}

//JavaScript代码区域
layui.use(['form','element'], function(){
    var element = layui.element;
  
    init_side();
    //监听导航点击
    element.on('nav(side)', function(elem){   
        show_iframe(elem);
    });
   
});

//添加body里面的tab
function show_iframe(elem){
   

    title = elem.text();
    url = elem.find('a').attr('_href');
    id = elem.attr('item-id')+ elem.attr('child-id');   
    addTab(id,url,title);
}

function addTab(id,url,title){
    var element = layui.element;

    if($('.layui-tab-title li#'+id).length){    //如果不存在该选项卡 则创建 否则切换            
         var index = $(".layui-tab-title li").index($('.layui-tab-title li#'+id));
         element.tabDelete('frame-tab', id);  
    }

    res = element.tabAdd('frame-tab', {
        title: title
        ,content: '<iframe frameborder="0" src="'+url+'" class="x-iframe"></iframe>',
        id:id
    });

    element.tabChange('frame-tab', $('.layui-tab-title li').length-1);

    var length = $('.layui-tab-title li').length;
    $('.layui-tab-title li').eq(length - 1).attr('id',id);  
    
    element.tabChange('frame-tab', id);   
}

//初始化侧边栏
function init_side(){
    var side = location.hash.replace(/^#/, '');
    side = side.replace("#","");
    side = side.split("/"); 
    var item_id = side[0];
    var child_id = side[1];

    if(!(item_id && child_id)){
        return;
    }    

    $('.layui-side .layui-nav li').removeClass('layui-nav-itemed');
    $('.layui-side .layui-nav li[item-id="'+item_id+'"]').addClass('layui-nav-itemed');
    $('.layui-side .layui-nav li dd').removeClass('layui-this');
    $('.layui-side .layui-nav li[item-id="'+item_id+'"] dd[child-id="'+child_id+'"]').addClass('layui-this');
    $('.layui-side .layui-nav li[item-id="'+item_id+'"] dd[child-id="'+child_id+'"] a').click();
    
    var elem = $('.layui-side .layui-nav li[item-id="'+item_id+'"] dd[child-id="'+child_id+'"]');
    show_iframe(elem);
}
</script>

