<style>
</style>
<div id='container'></div>
<div class='info'>
  <hgroup class='about'>
    <h1>30,000 Particles</h1>
    <h2>A study creating performant particles with Canvas 2D</h2>
    <h3>Use your mouse</h3>
  </hgroup>
</div>
<script>
if ( !window.requestAnimationFrame ) {

	window.requestAnimationFrame = ( function() {

		return window.webkitRequestAnimationFrame ||
		window.mozRequestAnimationFrame ||
		window.oRequestAnimationFrame ||
		window.msRequestAnimationFrame ||
		function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {

			window.setTimeout( callback, 1000 / 60 );

		};

	} )();

}
</script>