<div class='layui-tab-content'>
  	<div class="layui-field-box">
		<form class="layui-form layui-form-pane1" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">新密码:</label>
				<div class="layui-input-block">
					<input type="password" name="password" lay-verify='passowrd' value="" required placeholder="" autocomplete="off" class="layui-input">
					<span class="remark"></span>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="*">提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
layui.use('form', function(){	
	var form = layui.form;

	//自定义验证规则
	form.verify({
		passowrd: function(value){
		  	if(value.length < 6 || value.length > 12){
		    	return '密码必须6到12位';
		  	}
		}
		,pass: [/(.+){6,12}$/, '密码必须6到12位']
	});


	//事件监听
	form.on('select', function(data){
		console.log(data);
	});

	form.on('select(aihao)', function(data){
		console.log(data);
	});

	form.on('checkbox', function(data){
		console.log(data.elem.checked);
	});

	form.on('switch', function(data){
		console.log(data);
	});

	form.on('radio', function(data){
		console.log(data);
	});

	//监听提交
	form.on('submit(*)', function(data){
		var field = data.field;
		var url = "{:url('',input('param.'))}";
		
		field['uid'] = "{:input('param.uid')}";
		post(field,url,function(ret){
			var msg = ret.msg;
			layer.msg(msg);
			$('input[name="password"]').val('');
		});
		return false;
	});
  
});
</script>